.container img {
    width: 200px;               
    height: 300px;
    border: 10px solid green;  
    margin: 30px;               
    padding: 10px;              
    border-radius: 10px;       
    box-shadow: 5px 5px 10px gray; 
}